@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/IBMPlexSansVar-Roman.woff2') format('woff2');
}

@font-face {
  font-family: 'IBM Plex Sans';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/IBMPlexSansVar-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/SourceSerif.var.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/SourceSerif-Italic.var.woff2') format('woff2');
}

html {
  --scrollbarBG: #ffffff00;
  --thumbBG: #b8b8b8;
}
body::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
}

::selection {
  background: #79ffe1 !important;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column;
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: -1px;
  backdrop-filter: blur(5px);
  transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  border-bottom-color: transparent;
}

.remove-sticky {
  position: unset;
}

.sticky-nav-full {
  @apply border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
}

.header-name {
  display: none;
  opacity: 0;
  overflow: hidden;
}

.sticky-nav-full .nav {
  @apply text-gray-600 dark:text-gray-300;
}

nav {
  flex-wrap: wrap;
  line-height: 1.5em;
}

.article-tags::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul::-webkit-scrollbar {
  width: 0 !important;
}

.tag-container ul {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .sticky-nav-full {
    @apply max-w-full border-b border-opacity-50 border-gray-200 dark:border-gray-600 dark:border-opacity-50;
  }
  .header-name {
    display: block;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0, 1);
  }
  .sticky-nav-full .header-name {
    opacity: 1;
    @apply dark:text-gray-300 text-gray-600;
  }
}

@supports not (backdrop-filter: none) {
  .sticky-nav {
    backdrop-filter: none;
    @apply bg-day bg-opacity-90 dark:bg-night dark:bg-opacity-90;
  }
}

article {
  -webkit-transform: scale(0.95);
     -moz-transform: scale(0.95);
          transform: scale(0.95);
}

.token, 
.operator {
  background: #ffffff00 !important;
}

.notion-text {
    line-height: 1.8rem !important;
    padding: 0;
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}

pre[class*=language-] {
    line-height: 0px !important;
}

.notion-list li {
    padding: 0px !important;
}

.notion-quote {
    padding: 0.2em 0.9em !important;
    font-size: 90% !important;
    margin: 2px !important;
    line-height: 1.3rem !important;
}
rect {
  display: none !important;
}
.notion-hr {
    width: 80%  !important;
    margin: 0.5rem auto  !important;
    border: 0  !important;
    height: 2px  !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0))  !important;
}

code[class*=language-], 
pre[class*=language-] {
  text-shadow: none !important;
  font-size: 15px !important;
  line-height: 1.3 !important;
}

.notion-page a {
  color: #dfab01; 
}
